<div class="d-flex flex-wrap flex-column border-bottom">
  <div class="my-2 comment-name"><b>{{user.first_name}} {{user.last_name}}</b>
    |
    <small>{{formatDate createdAt}}</small></div>
  <div
    class="mb-3 d-flex flex-wrap justify-content-between"
    id="comment-content"
  >
    <div id="message">{{message}}</div>
    {{#if correctUser}}
      <div>
        <button
          type="button"
          class="btn btn-outline-dark btn-sm"
          name="edit-btn"
          id="{{id}}"
          data-id="{{post_id}}"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-dark btn-sm"
          name="delete-comment-btn"
          id="{{id}}"
          data-id="{{post_id}}"
        >
          Delete
        </button>
      </div>
    {{/if}}
  </div>
</div>