<div class="d-flex flex-column border-bottom">
  <div class="my-2"><b>{{user.first_name}} {{user.last_name}}</b>
    |
    <small>{{formatDate createdAt}}</small></div>
  <div class="mb-3 d-flex justify-content-between">
    <div>{{message}}</div>
    {{#if correctUser}}
      <div>
        <button
          type="button"
          class="btn btn-outline-dark btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#modal"
          id="{{id}}"
        >
          Edit
        </button>
        <button type="button" class="btn btn-dark btn-sm">
          Delete
        </button>
      </div>
    {{/if}}
  </div>
</div>